@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply w-full h-full p-0 m-0 bg-gray-900;

	background-color: rgba(0, 0, 0, 0);
}

@layer utilities {
	.root {
		width: 100vw;
		height: 100vh;
	}

	.selectDisable {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

		user-drag: none;
	}

	.normal-img {
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	.grayscale-img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: all 0.5s ease-out;
	}
}
